
:root{
    --red1:rgb(255, 247, 0);
    --brown:rgb(230, 32, 32);
    --blue:rgb(73, 199, 48);
    --red:rgba(255, 255, 255, 0);
    --green:rgb(155, 39, 39);
    --pink:#34a4e5;
    --white:rgb(255, 255, 255);
}
.carta {
    background:rgb(245, 245, 245);
}
body{
    /*Agregar fuente*/
}

.text-primary{
    color: var(--brown) !important;
}

.text-success{
    color: black !important;
}

/*buttons*/
.btn:not(.nav-btns button):hover{
    background-color: var(--green);
    color: white;
    border-color: var(--green);
    transition: 0.5S;
}
.btn:not(.nav-btns button){
    background-color: white;
    color: black;
    border: 2px solid gray;
    transition: 0.5S;
    padding: 10px 28px;
    border-radius: 25px;
}
.bg-primary{
    background-color: var(--green) !important;
}
.bg-green1{
    background-color: var(--green);
}

/*Text color*/
.text-primary{
    color: none !important;
    background-color: none;
}
/*NavBar*/
nav{
    transition: 0.5s;

}



.navbar-ani{
    background-color: var(--green);
    transition: 0.5s;
}
.navbar-brand span{
    letter-spacing: 2px;
}

.nav-link:hover{
    color:black !important;
    transition: 0.5s;
}

.nav-item{
    border-bottom: 0.5px solid rgb(0, 0, 0);
}

/*header*/
#header{
    background: url(../SCR/fondo3.png) top/cover no-repeat;
}

.pinture{
    background: url(../SCR/fondo2.jpg) ;
}

.carousel-inner h1{
    font-size: 60px;
}
/* title */
.title h2::before{
    position: relative;
    content: ".";
    color: var(--green);
    width: 4px;
    height: 50px;
    background-color: var(--green);
    left: -20px;

}

.best{
    border-radius: 20px;
}


.collection-img span{
    top: 15px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    align-items: center;
}

.collection-img img{
    border-radius: 20px;
}

.raiting span{
    background-color: none;
    
}
.img-r{
    border-radius: 20px;
}

#newsletter{
    background-color: rgb(255, 255, 255);
}

#newsletter p{
    max-width: 600px;
}

#newsletter .input-group{
    max-width: 500px;
}

#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


/*media queries*/
@media(min-width:992px){
    .nav-item{
        border-bottom: none;
    }
}
